<h1>About Bloccit</h1>
<p>Created by: Brandon Kunisch</p>
<button class="social-btn"><%= link_to "Follow me", "https://www.facebook.com/San-Juan-Hotshots-503314746414113/timeline?ref=page_internal" %></button>
